.helloworld {
  color: blue;
  .hellotwo {
    color: red;
  }
  &.one {
    color: black;
    .hellotwo {
      color: purple;
    }
  }
}
.hellotwo {
  color: yellow;
}
.right {
  margin-left: 200px;
  width: 150px;
  height: 150px;
  background-color: purple;
}
.left {
  width: 150px;
  height: 150px;
  background-color: coral;
  margin-left: 1200px;
}
.catchme {
  color: cyan;
  margin-left: 600px;
}
.switch-container {
  margin-top: 200px;
}
