

<!--{{title}}-->
<!--{{test()}}-->
<!--{{count}}-->
<!--<button (click)="incrementCount()">test-button</button>-->
<!--<button (click)="test2()">test - 2</button>-->
<!--<div class="helloworld">Hello-->
<!--    <div class="hellotwo">Hello</div>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<!--<div class="helloworld one">Hello-->
<!--  <div class="hellotwo">Hello</div>-->
<!--</div>-->
<!--<div class="one">Hello</div>-->

<!--<img src="{{dynamicImage}}" alt="react">-->
<!--<hr>-->
<!--<label for="test"></label>-->
<!--  <input type="text" id="test" [value]="inputText" (input)="onInput($event)">-->
<!--<p>{{inputText}}</p>-->


<!--<div class="catch-container">-->
<!--  <div *ngIf="catchme; else: leftP" class="right"></div>-->
<!--  <ng-template #leftP>-->
<!--  <div class="left"></div>-->
<!--  </ng-template>-->
<!--  <button (click)="catchme = !catchme" class="catchme">CATCH ME BITCH</button>-->
<!--</div>-->

<!--<div class="switch-container">-->
<!--<button (click)="backgroundSwitch = !backgroundSwitch">switch</button>-->
<!--<div [ngStyle]="{-->
<!--  width: '200px',-->
<!--  height: '200px',-->
<!--  background: backgroundSwitch ? 'green' : 'yellow'-->
<!--}">-->
<!--</div>-->
<!--</div>-->

<!--<ul style="list-style: none">-->
<!--  <li *ngFor="let post of obj">-->
<!--    <p>{{post.title1}} <b>{{post.author}}</b></p>-->
<!--    <ul>-->
<!--      <li *ngFor="let comment of post.comments">-->
<!--        <div>-->
<!--          <small>{{comment.name}}"</small>-->
<!--          <p>{{comment.text}}</p>-->
<!--        </div>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->
<!--<p>-->
<!--  {{now | date}}-->
<!--</p>-->


<!--<div class="container">-->
<!--  <h1>Angular Components</h1>-->

<!--  <h2>Subheader</h2>-->

<!--  <app-post-form-->
<!--    (onAdd)='updatePosts($event)'-->
<!--  ></app-post-form>-->
<!--  <hr />-->
<!--  <app-post-->
<!--    *ngFor="let p of posts"-->
<!--    [post]="p"-->
<!--    (onRemove)="removePost($event)"-->
<!--  >-->
<!--    <small *ngIf="p.text.length>10; else: short">Большой пост</small>-->
<!--    <ng-template #short>-->
<!--      <small>Пост короткий</small>-->
<!--    </ng-template>-->
<!--  </app-post>-->

<!--  <p [appStyle]="'green'" [dStyles]="{border:'1px solid blue', borderRadius: '5px', fontWeight: 'bold'}">-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, temporibus.</p>-->

<!--  <p [appStyle]="'blue'" [dStyles]="{border:'1px solid red', borderRadius: '5px',fontWeight: 'bold'}">-->
<!--    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, temporibus.</p>-->

<!--  <button class="btn" (click)="isVisible = !isVisible">Hide</button>-->

<!--    <div class="wrap" *appIfnot="!isVisible">-->
<!--      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi error nulla praesentium reprehenderit. Ducimus obcaecati officia temporibus tenetur vel. Recusandae.</p>-->
<!--    </div>-->

<!--  <p>{{ e | number: '1.1-2' }}</p>-->

<!--  <p>{{ date | date: 'MMMM dd,yyyy,HH:mm:ss'}}</p>-->

<!--  <p>{{'Hello World     ' | exMarks}}</p>-->

<!--<hr>-->
<!--  <button class="btn"(click)="addNewPost()">Add new post</button>-->
<!--  <button class="btn"(click)="searchField = 'title'">Title</button>-->
<!--  <button class="btn"(click)="searchField = 'text'">Text</button>-->

<!--  <input type="text" [(ngModel)]="search">-->

<!--  <div *ngFor="let posterinho of sportPost | filter: search:searchField"-->
<!--       class="card">-->
<!--    <h2>{{posterinho.title}}</h2>-->
<!--    <h2>{{posterinho.text}}</h2>-->
<!--  </div>-->

<!--  <hr>-->

<!--  <div class="card">-->
<!--    <h2>App Counter: {{appCounterServices.counter}}</h2>-->
<!--    <button type="button" class="btn"(click)="appCounterServices.increase()">+</button>-->
<!--    <button type="button" class="btn"(click)="appCounterServices.decrease()">-</button>-->
<!--  </div>-->

<!--  <hr>-->

<!--  <div class="card">-->
<!--    <h2>Local Counter: {{localCounterService.counter}}</h2>-->
<!--    <button type="button" class="btn"(click)="localCounterService.increase()">+</button>-->
<!--    <button type="button" class="btn"(click)="localCounterService.decrease()">-</button>-->
<!--  </div>-->

<!--  <hr>-->

<!--  <app-counter>-->

<!--  </app-counter>-->
<!--</div>-->

<app-form-group>

</app-form-group>

<app-validation>

</app-validation>
