

<!--{{title}}-->
<!--{{test()}}-->
<!--{{count}}-->
<!--<button (click)="incrementCount()">test-button</button>-->
<!--<button (click)="test2()">test - 2</button>-->
<!--<div class="helloworld">Hello-->
<!--    <div class="hellotwo">Hello</div>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<!--<div class="helloworld one">Hello-->
<!--  <div class="hellotwo">Hello</div>-->
<!--</div>-->
<!--<div class="one">Hello</div>-->

<!--<img src="{{dynamicImage}}" alt="react">-->
<!--<hr>-->
<!--<label for="test"></label>-->
<!--  <input type="text" id="test" [value]="inputText" (input)="onInput($event)">-->
<!--<p>{{inputText}}</p>-->


<!--<div class="catch-container">-->
<!--  <div *ngIf="catchme; else: leftP" class="right"></div>-->
<!--  <ng-template #leftP>-->
<!--  <div class="left"></div>-->
<!--  </ng-template>-->
<!--  <button (click)="catchme = !catchme" class="catchme">CATCH ME BITCH</button>-->
<!--</div>-->

<!--<div class="switch-container">-->
<!--<button (click)="backgroundSwitch = !backgroundSwitch">switch</button>-->
<!--<div [ngStyle]="{-->
<!--  width: '200px',-->
<!--  height: '200px',-->
<!--  background: backgroundSwitch ? 'green' : 'yellow'-->
<!--}">-->
<!--</div>-->
<!--</div>-->

<!--<ul style="list-style: none">-->
<!--  <li *ngFor="let post of obj">-->
<!--    <p>{{post.title1}} <b>{{post.author}}</b></p>-->
<!--    <ul>-->
<!--      <li *ngFor="let comment of post.comments">-->
<!--        <div>-->
<!--          <small>{{comment.name}}"</small>-->
<!--          <p>{{comment.text}}</p>-->
<!--        </div>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->
<!--<p>-->
<!--  {{now | date}}-->
<!--</p>-->


<div class="container">
  <h1>Angular Components</h1>

  <h2>Subheader</h2>K

  <app-post-form
    (onAdd)='updatePosts($event)'
  ></app-post-form>
  <hr />
  <app-post
    *ngFor="let p of posts"
    [post]="p"
    (onRemove)="removePost($event)"
  >
    <small *ngIf="p.text.length>10; else: short">Большой пост</small>
    <ng-template #short>
      <small>Пост короткий</small>
    </ng-template>
  </app-post>
</div>
